---
BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 80
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: ^<
    Priority: 1
  - Regex: ^"kernel/
    Priority: 2
  - Regex: ^"
    Priority: 3
# Braces
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never

# Spacing
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: false
SpacesInParentheses: false

# Alignment
AlignConsecutiveMacros: true
AlignEscapedNewlines: Left
AlignTrailingComments: true

# Pointers
PointerAlignment: Right

# Functions
AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: false
BinPackArguments: false

# General
IndentCaseLabels: false
MaxEmptyLinesToKeep: 1
InsertBraces: true
